body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}

/* Navigation */
.navigation {
  background-color: #104e70;
}


/* Resume Builder */
.Resume{
  max-width: 800px;
  width: 100%;
  height: 50%;
  display: table;
}
.PDF-format {
  margin: 2% 27%;
  padding: 5%;
}
#pdf-btn {
  margin-top: -12%;
  background-color: #0072bb;
  margin-left: 32%;
}
.resume-builder {
  margin: 5% 20%;
  color: #ffc500;
}
legend {
  color: #0072bb;
  font-size: 30px;
  font-weight: 700;
}

/* Footer */
footer {
  background-color: #104e70;
}

/* Splash Page */
.home {
  background-color: #104e70;
  color: white;
}

.splash-contact {
  background-color: #ffc500;
  color: black;
  padding: 30px;
}
